.sub-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 1%;
  margin-left: 10%;
  margin-bottom: 1%;
}

.cursos {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #1F5379;
  letter-spacing: .06rem;
}

.mat-raised-button {
  background-color: #46297B;
  color: #fffffe;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: .9rem;
  letter-spacing: .07rem;
  height: 3rem;
}

.mat-flat-button{
  width: 30%;
  margin-left: 12%;
}

.example-card {
  width: 300px;
  margin: 5%;
  margin-left: 5%;
  margin-bottom: 9%;
}

.mat-card-content{
  text-align: center;
  font-family: 'Lato', sans-serif;
}

img {
  width: 300px;
  height: 175px;
}